logs
target
out
project/project
project/target
project/.sbtserver.lock
project/.sbtserver
project/sbt-ui.sbt
project/play-fork-run.sbt
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/.sbtserver
conf/application.conf
conf/logback.xml
